.header{
    display: flex;
    padding: 0px 10px;
    background-color: #ffffff;
    font-size: 0;
}
.header .logo{
    display: inline-block;
    padding: 6px 0;
}

.header nav{
    text-align: right;
    width: 100%;
    
    line-height: 52px;
}
.header nav a{
     font-size: 16px;
     color: #000000;
     text-decoration: none;
     display: inline-block;
     padding: 0 10px;
     margin: 5px;
}

.banner{
    padding: 100px;
    height: 400px;
    margin-left: 40px;
}

.banner-pic{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.banner-title{
 margin-bottom: 1.5rem;
 font-size: 4rem;
 line-height: 1;
 font-weight: 700;
 --tw-text-opacity: 1;
 color: rgba(255,255,255,var(--tw-text-opacity));
}

.banner-summery{
 margin-bottom: 4rem;
 font-size: 1.25rem;
 line-height: 1.75rem;
 --tw-text-opacity: 1;
 color: rgba(255,255,255,var(--tw-text-opacity));
}

.banner-button{
 --tw-bg-opacity: 1;
background-color: rgba(255,19,62,var(--tw-bg-opacity));
transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 150ms;
cursor: pointer;
--tw-text-opacity: 1;
color: rgba(255,255,255,var(--tw-text-opacity));
text-align: center;
display: inline-block;
border-radius: 0.25rem;
font-size: 1.125rem;
line-height: 1.75rem;
padding: 0.75rem 2rem;
text-decoration: none;
}

.content{
    width: 100%;
    padding-bottom: 0.75rem;
    margin-bottom: 1.25rem;
    --tw-text-opacity: 1;
    color: rgba(57,65,80,var(--tw-text-opacity));
    position: relative;
    text-align: center;
}

.content-title{
 font-size: 2rem;
 line-height: 2.75rem;
 font-weight: 700;
 
 --tw-text-opacity: 1;
 color: rgba(57,65,80,var(--tw-text-opacity));
 text-align: center;
}

.fake-line{
    border: red solid 1px;
    width: 50px;
    margin: 0.5rem auto 2rem;
}

.content-summery{
 font-size: 1.25rem;
 line-height: 1.75rem;
 --tw-text-opacity: 1;
 color: rgba(57,65,80,var(--tw-text-opacity));
 text-align: center;
}

.about{
    height: 410px;
}

.about .wrap{
 --tw-text-opacity: 1;
 color: rgba(57,65,80,var(--tw-text-opacity));
 text-align: center;
 margin-bottom: 2.5rem;
 padding-left: 1.25rem;
 padding-right: 1.25rem;
 display: flex;
 justify-content: space-evenly;
 flex-wrap: wrap; /*寬超過換列 */
}

.about .wrap .item{
    width: 300px;
    line-height: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.about .wrap .item h3{
    font-weight: 700;
    font-size: 1.125rem;
}

.teacher{
    background-color:rgb(249, 250,251);
    height: 2520px;
}



.teacher .wrap{
    width: 768px;
    padding-top: 175px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;          
}

.teacher .title{
 margin-bottom: 0.5rem;
 font-size: 1.875rem;
 line-height: 2.25rem;
}

.teacher .line{
     border: red solid 1px;
    width: 55px;
    margin-bottom: 2rem;
}

.teacher .summery{
    
 font-size: 1.25rem;
 line-height: 1.75rem;
 text-align: left;
 --tw-text-opacity: 1;
 color: rgba(57,65,80,var(--tw-text-opacity));
}

.teacher .idol{
 width: 100%;
 margin-bottom: 6rem;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap; 
 justify-content: space-evenly
}

.teacher .idol .item{
 width: 576px;
 --tw-bg-opacity: 1;
 background-color: rgba(255,255,255,var(--tw-bg-opacity));
 border-radius: 0.375rem;
 padding: 2.5rem 1.5rem 1.5rem;
 margin-bottom: 1.5rem;
}

.teacher .idol .item .head{
 flex-direction: row;
 display: flex;
 -webkit-box-align: center;
 align-items: center;
 padding-bottom: 0.75rem;
 border-bottom-width: 1px;
 --tw-border-opacity: 1;
 border-color: rgba(229,231,235,var(--tw-border-opacity));
}

.teacher .idol .item .head .avator{
 border-radius: 9999px;
 width: 10rem;
 height: 10rem;
 margin-bottom: 1rem;
 display: inline-block;
 align-self: center;
 overflow: hidden;
}

.teacher .idol .item .head .detail{
 margin-left: 1.25rem;
 text-align: left;
}

.teacher .idol .item .head .detail p{        
 padding-bottom: 0.5rem;
 
 position: relative;
}

.teacher .idol .item .head .detail hr{
 border: red solid 1px;
    width: 37px;
    margin-bottom: 1.5rem;
    display: inline-block;
}

.teacher .idol .item .head .detail h3{
 font-size: 1.125rem;
 line-height: 1.75rem;
 font-weight: 700;
}

.teacher .idol .item .head .detail ul{
 margin-left: -0.5rem;
 -webkit-box-pack: start;
 justify-content: flex-start;
 display: flex;
}

.teacher .idol .item .head .detail .fa{
    width: 21px;
    height: 24px;
    display: inline-block;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
}

.fa .fa-facebook{
 color: rgb(160, 166, 177);
}

.fa .fa-youtube{
 color: rgb(160, 166, 177);
}

 .teacher .idol .item .head-line hr{
 width: 100%; 
 border-width: 1px; 
 border-color: #e5e7eb20;
}

.teacher .idol .item .body{
 margin-top: 1.75rem;
 margin-bottom: 1.75rem;

}

.teacher .idol .item .body p{
 margin-bottom: 0.5rem;
 color: #394150;
 line-height: 30px;
}

.text-bold{
 font-weight: 700;
}

.text-red{
 color: red;
}

.teacher .idol .item .foot{
 margin-bottom: 1rem;
 display: flex;
 -webkit-box-align: center;
 align-items: center;
}

.teacher .idol .item .foot p{
 position: relative;
 display: inline-block;
 width: 10rem; 
 color: #394150;
}

.teacher .idol .item .foot hr{
 display: inline-block;
 width: 100%; 
 border-top-width: 1px; 
 border-top-color: #e5e7eb20;
}

.teacher .idol .item .ps{
 display: flex;
 flex-wrap: wrap;
 

}

.teacher .idol .item .ps a{
 margin-right: 1rem;
 margin-bottom: 1rem;  
 text-align: center;
 padding: 0.25rem 0.75rem;
 display: inline-block;
 text-decoration: none;
 color: red;
 border: red solid 1px;
 height: 20px;
}

.newlist{
 margin-bottom: 3rem;
 color: #394150;
 margin-top: 4rem;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap; 
 justify-content: space-evenly;
}

.newlist div{
    width: 600px;
    height: 100px;
    margin-bottom: 3rem;
}

.newlist div h4{
 font-size: 1.5rem;
 line-height: 2rem;
 font-weight: 700;
 padding-bottom: 0.75rem;
}

.newlist div span{
 --tw-text-opacity: 1;
 color: rgba(108,114,127,var(--tw-text-opacity));
 display: block;
}

.newbutton{
 text-align: center;
 margin-bottom: 4rem;
}

.newbutton a{
 --tw-bg-opacity: 1;
 background-color: rgba(255,19,62,var(--tw-bg-opacity));
 transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 transition-duration: 150ms;
 cursor: pointer;
 --tw-text-opacity: 1;
 color: rgba(255,255,255,var(--tw-text-opacity));
 text-align: center;
 display: inline-block;
 border-radius: 0.25rem;
 font-size: 1.125rem;
 line-height: 1.75rem;
 padding: 0.75rem 2rem;
 text-decoration: none;
}

.lesson{
 background-color:rgb(40, 47,63);
 height: 1576px;
}

 .lesson .content{
     padding-top: 5rem;
     padding-bottom: 5rem;
     width: 100%;
     padding-left: 1.5rem;
     padding-right: 1.5rem;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     flex-wrap: wrap;
 }

 .lesson .content .left{
     width: 480px;
     text-align: left;
 }

 .lesson .content .left h2{
     width: 100%;
     padding-bottom: 0.25rem;
     font-size: 1.875rem;
     line-height: 2rem;
     font-weight: 700;
     position: relative;
     --tw-text-opacity: 1;
     color: rgba(255,255,255,var(--tw-text-opacity));
     
 }

 .lesson .content .left hr{
     border: red solid 1px;
    width: 37px;
    display: inline-block;
    margin-bottom: 1.25rem;
 }

 .lesson .content .left h4{

     font-size: 1.25rem;
     line-height: 1.75rem;
     text-align: left;
     --tw-text-opacity: 1;
     color: rgba(160,166,177,var(--tw-text-opacity));
 }

 .lesson .content .right{
     background-color: red;
     width: 480px;
     height: 480px;
     text-align: center;
     line-height: 480px;
    
 }

 .lesson .content .right h2{
     color: white;
     font-size: 1.5rem;
     line-height: 2rem;
     font-weight: 700;
 }

  .lesson-title{
     text-align: left;
     color: white;
     font-size: 1.5rem;
     line-height: 2rem;
     font-weight: 700;
     margin: 2rem;
 }

  .lesson-sort{
     width: 100%;
     margin: 1.5rem auto 3rem;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     flex-wrap: wrap;
     
 }

  .lesson-sort .item{
     width: 366px;
     display: flex;
     flex-direction: column;
     position: relative;
     --tw-bg-opacity: 1;
     background-color: rgba(255,255,255,var(--tw-bg-opacity));
     border-radius: 0.5rem;
 }

  .lesson-sort .item .card{
     width: 100%;
     height: 12.5rem;
     display: flex;
     border-top-left-radius: 0.5rem;
     border-top-right-radius: 0.5rem;
     overflow: hidden;
 }

 .lesson-sort .item .card-background{
     --tw-bg-opacity: 1;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center top;
     padding-top: 3rem;
     padding-bottom: 3rem;
     border-top-left-radius: 0.5rem;
     border-top-right-radius: 0.5rem;
     background-image: linear-gradient(rgba(24, 35, 45, 0.4), rgba(24, 35, 45, 0.4)), url('https://60defc1c32568b0008a72f18--5xtraining.netlify.app/_next/static/images/learning-im_coding_it-2e61e20cb43462295664b6dcfe31b74a.png');           
 }

 .lesson-sort .item .card-background h3{
     font-weight: 700;
         --tw-text-opacity: 1;
         color: rgba(249,250,251,var(--tw-text-opacity));
         font-size: 1.5rem;
         line-height: 2rem;
         text-align: center;
 }

  .lesson-sort .item .card-down{
     height: auto;
     padding: 1.25rem;
     display: flex;
     flex-direction: column;
     --tw-bg-opacity: 1;
     border-bottom-left-radius: 0.5rem;
     border-bottom-right-radius: 0.5rem;
     border:#e5e7eb solid 1px;
 }

  .lesson-sort .item .card-down .card-title{
     padding-bottom: 1rem;
     margin-bottom: 0.75rem;
     position: relative;
     border-style: solid;
     border-bottom-width: 1px;
     --tw-border-opacity: 1;
     border-color: rgba(211,214,219,var(--tw-border-opacity));
 }

  .lesson-sort .item .card-down .card-title h4{
     padding-bottom: 0.75rem;
     font-weight: 700;
     font-size: 1.25rem;
 } 

  .lesson-sort .item .card-down .card-title span{
     padding: 0.25rem;
     margin-right: 0.5rem;
     font-size: 0.75rem;
     line-height: 1rem;
     --tw-text-opacity: 1;
     color: rgba(108,114,127,var(--tw-text-opacity));
     border:#e5e7eb solid 1px;
     border-radius: 0.25rem;
 }

  .lesson-sort .item .card-down .card-detail{
     display: flex;
     -webkit-box-pack: justify;
     justify-content: space-between;
 }

 .lesson-sort .item .card-down .card-detail p{
     margin-top: 0.5rem;
     margin-bottom: 0.5rem;
     color: #394150;
     line-height: 1.75rem;
     font-size: 1rem;
 }

  .lesson-sort .item .card-down .card-detail .detail-left{
     font-size: 1rem;
     line-height: 1.25rem;
     --tw-text-opacity: 1;
     color: rgba(160,166,177,var(--tw-text-opacity));
     display: inline-block;
 }

  .lesson-sort .item .card-down .card-detail .detail-right{
     display: inline-block;
     font-size: 0.875rem;
     line-height: 1.25rem;
     --tw-text-opacity: 1;
     color: rgba(248,113,113,var(--tw-text-opacity));
 }

 .lesson-sort .item .card-down .card-ps{
     margin-top: auto;
     margin-bottom: 0px;
     --tw-text-opacity: 1;
     color: rgba(255,19,62,var(--tw-text-opacity));
 }

 .lesson-sort .item .card-down .card-ps span{
     padding-right: 0.25rem;
 }

  .lesson-button{
     text-align: center;
 }

 .learn-path{
     text-align: left;
     padding-top: 12rem;
     padding-left: 2rem;
     height: 170px;
 }

 .learn-path .title{
 margin-bottom: 0.5rem;
 font-size: 1.875rem;
 line-height: 2.25rem;
}

.learn-path .line{
     border: red solid 1px;
    width: 55px;
    margin-bottom: 2rem;
}

.learn-path .summery{
    
 font-size: 1.25rem;
 line-height: 1.75rem;
 text-align: left;
 --tw-text-opacity: 1;
 color: rgba(57,65,80,var(--tw-text-opacity));
}

.learn{
 background-color:rgb(249, 250,251);
    height: 1100px;
}

.article{
    padding-top: 6rem;
}

.article .article-cotent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 3rem;
}

.article .article-cotent .item{
     color: #394150;
     width: 390px;
     height: 355px;
}

.article .article-cotent .item .up{
     height: 15rem;
     overflow: hidden;
     border-radius: 0.375rem;
     display: block;
     border-color: #e5e7eb;
 }

 .article .article-cotent .item .up img{
     object-position: center center;
     object-fit: cover;
     width: 100%;
     height: 100%;
 }

 .article .article-cotent .item .down{
     margin-top: 1.25rem;
 }

 .article .article-cotent .item .down h4{
     font-size: 1.5rem;
     line-height: 2rem;
     font-weight: 700;
 }

 .article .article-cotent .item .down small{
     display: block;
     --tw-text-opacity: 1;
     color: rgba(160,166,177,var(--tw-text-opacity));
     margin-top: 0.75rem;
     font-size: 80%;
 }

 .botton{
    padding-top: 6rem;
    background-color:rgb(40, 47,63);
    height: 1200px;
    
}

.botton .content{
    max-width: 768px;
    display: flex;
flex-wrap: wrap;
justify-content: space-around;
--tw-text-opacity: 1;
color: rgba(255,255,255,var(--tw-text-opacity));
}

.botton .content .left{
    text-align: left;
    padding-left: 2rem;
    padding-right: 10rem;
    display: inline-block;
}

.botton .content .left img{
    max-width: 100%;
    height: auto;
}

.botton .content .left div{
    padding-bottom: 2.5rem;
    padding-top: 1rem;
    --tw-text-opacity: 1;
    color: rgba(229,231,235,var(--tw-text-opacity));
    font-size: 0.875rem;
    line-height: 1.5rem;

}

.botton .content .right{
    display: flex;

flex-wrap: wrap;


}

.botton .content .right .item{
    padding-bottom: 4rem;
    
    font-size: 1rem;
    line-height: 2rem;
    text-align: left;

}

.botton .content .right .item h2{
    padding-bottom: 0.75rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
}