*{
    font-family: 'Noto Sans TC', sans-serif;
    color: #3a4250;
}
.copy{
    background-color: #181e2e;
    color:#a0a6b2;
    line-height: 1.25rem;
    padding: 1rem 0.5rem;
    font-size: 0.875rem;
    text-align: center;
}
.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px;
    position:fixed;
    top: 0;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    --tw-shadow: 0 10px 15px -3px rgba(113,128,150,0.1),0 4px 6px -2px rgba(113,128,150,0.05);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

@media screen and (max-width:768px){ 
    .menu nav{
        display: none;
    }
    .menu .txt{
        display: none;
    }
    .menu{
        padding: 15px;
    }
}

.menu .pic{
    width: 40px;
    height: 18px;
}
.menu .pic img{
    width: 100%;
    vertical-align: middle;
}
a{
    text-decoration: none;
}
.menu a{
    font-size: 18px;
    color: black;
    
}
.menu a:first-of-type{
    flex-grow: 1;
}
.menu a:hover{
    color: red;
}
.menu nav a{
    padding: 0 15px;
}
.menu nav a:hover{
    text-decoration:underline 3px red;
    text-underline-offset: 25px;
}
.menu .txt{
    font-weight: 700;
    margin-left: 5px;
}

.icon-list{
    background-color: #2a313e;
    display: flex;
    justify-content: space-around;
}

@media screen and (min-width:768px){ 
    .icon-list{
        justify-content: center;
    }
}

.icon-list a{
    display: block;
    font-size: 30px;
    padding: 20px;
    color: #6c737f;
    margin-bottom: 60px;
}
.icon-list a:hover{
    color:white;
}

.contact{
    margin-top: 160px;
    background-color: #2a313e;
    position: relative;
}
.contact::before{
    clip-path: polygon(30% 0px, 0px 100%, 100% 100%);
    content: "";
    display: block;
    width: 100%;
    
    background-color: #2a313e;
    position: absolute;
    left: 0;
    height: 65px;
    top: -65px;
}

@media screen and (min-width:768px){ 
    .contact::before{
        height: 160px;
        top: -160px;
    }
}


.contact .box{
    padding-top: 60px;
}
.contact p{
    font-size: 14px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}
.contact a{
    font-size: 14px;
    color: white;
    padding: 5px 0;
}
.contact a:hover{
    color:red;
}
.vertical-mar-bot{
    margin-bottom: 20px;
}
.vertical-flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contact .item{
    margin-bottom: 65px;
}

.wall{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    background-image: url(texture/123.jpeg);
    clip-path: polygon(0px 0px, 100% 0px, 100% 77%, 35% 100%, 0px 77%);

}
@media screen and (max-width:1024px){ 
    .wall{
        clip-path: polygon(0px 0px, 100% 0px, 100% 88%, 30% 100%, 0px 88%);
    }
}

.wall::before{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
    --tw-bg-opacity: 0.75;
    background-color: rgba(24,30,45,var(--tw-bg-opacity));
}

.ban{
    padding-top: 78px;
    width: 100%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

.ban .ban-box{
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 150px;
}

@media screen and (min-width:1024px){ 
    .ban .ban-box{
        padding-left: 125px;
        padding-right: 125px;
        padding-bottom: 220px;
    }
}


.ban .ban-item{
    padding-top: 20px;
}

@media screen and (min-width:1024px){ 
    .ban .ban-item{
        padding-top: 80px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.ban h1{
    color: white;
    font-size: 48px;
    line-height: 1;
    font-weight: 700;  
    margin-bottom: 1.5rem;
}
@media screen and (min-width:768px){ 
    .ban h1{
        font-size: 60px;
    }
}
.ban h3{
    color: white;
    margin-bottom: 4rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.btn{
    color:white;
    text-align: center;
    display: inline-block;
    border-radius: 0.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding: 0.75rem 2rem;
    background-color: red;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
}
.btn:hover{
    background-color: #9b2642;
}

.feature{
  margin-top: 80px;
  margin-bottom: 190px;
}

.class h2,
.news h2,
.feature h2,
.artcle h2{
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 36px;
  margin: auto;
}

hr{
  width: 3rem;
  border: red solid 1px;
}

@media screen and (min-width:768px){ 
.class h2,
.news h2,
.feature h2,
.artcle h2{
    font-size: 30px;
}
}


.class h4{
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    padding-top: 15px;
    width: 70%;
}

.feature h4{
text-align: center;
font-size: 20px;
line-height: 28px;
padding-top: 15px;
padding-bottom: 70px;
}

.feature .item{
  text-align: center;
  
}

.feature h3{
  line-height: 28px;
  font-size: 18px;
  font-weight: 700;
}

.feature p{
  font-size: 16px;
  line-height: 24px;
}

@media screen and (min-width:768px){
  .feature h4{
      padding-top: 30px;
  }
}

.artcle{
    padding: 100px 0;
    margin-top: 160px;
}
.artcle .ply-btn,
.news .ply-btn{
   margin-top: 60px;
   text-align: center;
}
.artcle h4:hover{
    color: red;
}
.artcle img{
    border-radius: 0.375rem;
    vertical-align: middle;
    padding-bottom: 25px;
    padding-top: 40px;
    width: 100%;
}
.artcle h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}
.artcle small{
    font-size: 12.8px;
    line-height: 19.2px;
    color: #bfbfbf;
    display: block;
    padding-top: 10px;
}

.wall-tea{
    background-color: #f9fafb;
    position: relative;
    margin-top: 160px;
}

.wall-tea::before{
    clip-path: polygon(30% 0px, 0px 100%, 100% 100%);
    content: "";
    display: block;
    width: 100%;
    
    background-color: #f9fafb;
    position: absolute;
    left: 0;
    height: 65px;
    top: -65px;
}

.wall-tea::after{
    clip-path: polygon(30% 100%, 0px 0px, 100% 0px);
    content: "";
    display: block;
    width: 100%;
    
    background-color: #f9fafb;
    position: absolute;
    left: 0;
    height: 65px;
    bottom: -65px;
}

@media screen and (min-width:768px){ 
    .wall-tea::before{
        height: 160px;
        top: -160px;
    }
    .wall-tea::after{
        height: 160px;
        bottom: -160px;
    }
}

.c-box{
    padding: 0 25px;
    margin: auto;
}

.c-box h2{
    padding-top: 35px;
    font-size: 24px;
    font-weight: 700;
}

@media screen and (min-width:768px){ 
    .c-box h2{
        font-size: 30px;
    }
}


.c-box h2::after{
    content: '';
    display: block;
    width: 3rem;
    padding-bottom: 8px;
    border-bottom: 2px solid red;
}

.c-box p{
    font-size: 20px;
    line-height: 28px;
    padding-top: 25px;
}

.tea{
    padding-bottom: 100px;
}




.tea li{
    display: inline-block;
}

.tea img{
    border-radius: 99px;
    display: block;
    margin: auto;
}

.tea .item{
    padding: 2.5rem;
    background-color: white;
    border-radius: 0.375rem;
    --tw-shadow: 0 4px 6px -1px rgba(113,128,150,0.1),0 2px 4px -1px rgba(113,128,150,0.06);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.line::after{
    content: '';
    display: block;
    width: 100%;
    border-bottom: 1px solid #e3e5e8;
}

.tea .col-md-9{
    padding: 35px;
}

.tea .col-md-9 h3{
    font-size: 16px; 
    margin-bottom: 24px;
}
.tea .col-md-9 h3::after{
    content: '';
    display: block;
    width: 3rem;
    padding-bottom: 8px;
    border-bottom: 2px solid red;
}

@media screen and (max-width:768px){
    .tea .col-md-9{
        text-align: center;
        padding: 20px;
    } 

    .tea .col-md-9 h3::after{
        margin: auto;
    }
}

.tea .col-md-9 span{
    font-size: 20px;
    font-weight: 700;
}

.tea .col-md-9 ul{
    margin-top: 16px;
    margin-left: -8px;
}
.tea ul i{
    padding: 8px;
    color:#949ba6;
    font-size: 20px;
}

.tea .body p{
    padding-bottom: 8px;
    line-height: 24px;
}

strong{
    font-weight: 700;
}

.red{
    color: red;
}

.tea .body{
    padding: 25px 0;
}

.tea .footer a{
    display: inline-block;
    margin: 10px 0;
    margin-right: 10px;
    color: red;
    padding: 0.75rem;
    border: 1px red solid;
    border-radius: 0.25rem;
    font-size: 16px;
    background-color: white;
}

.tea .footer a:hover{
    color: white;
    background-color: red;
}

.tea .footer p{
    display: flex;
    align-items: center;
}

.tea .footer p::after{
    content: '';
    display: inline-block;
    width: auto;
    flex-grow: 1;
    border-bottom: 1px solid  #e3e5e8;
}

.news{
    padding-bottom: 70px;
}

.news .item{
    height: 100px;
    display: flex;
    flex-direction: column;
}



.news hr{
    margin-bottom: 60px;
}

.news .item a{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    padding-bottom: 12px;
}

.news .item a:hover{
    color: red;
}

.news p{
    font-size: 16px;
    line-height: 24px;
    color: #808592;
    flex-grow: 1;
}

.class{
    margin: auto;
    max-width: 1152px;
    
}


@media screen and (max-width:768px){
}

.class .box .row > *{
    text-align: left;
}

.class h2::after{
    content: '';
    display: block;
    width: 3rem;
    padding-bottom: 8px;
    border-bottom: 2px solid red;
}

.class .item .card-background{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    --tw-bg-opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-image: linear-gradient(rgba(24, 35, 45, 0.4), rgba(24, 35, 45, 0.4)), url('https://60defc1c32568b0008a72f18--5xtraining.netlify.app/_next/static/images/learning-im_coding_it-2e61e20cb43462295664b6dcfe31b74a.png');           
}

.class .item .card-background h3{
        font-weight: 700;
        --tw-text-opacity: 1;
        color: rgba(249,250,251,var(--tw-text-opacity));
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
}

 .class .item .card-down{
    height: auto;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    --tw-bg-opacity: 1;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border:#e5e7eb solid 1px;
}

 .class .item .card-down .card-title{
    padding-bottom: 1rem;
    margin-bottom: 0.75rem;
    position: relative;
    border-style: solid;
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(211,214,219,var(--tw-border-opacity));
}

 .class .item .card-down .card-title h4{
    padding-bottom: 0.75rem;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: left;
} 

 .class .item .card-down .card-title span{
    padding: 0.25rem;
    margin-right: 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
    --tw-text-opacity: 1;
    color: rgba(108,114,127,var(--tw-text-opacity));
    border:#e5e7eb solid 1px;
    border-radius: 0.25rem;
}

 .class .item .card-down .card-detail{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.class .item .card-down .card-detail p{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #394150;
    line-height: 1.75rem;
    font-size: 1rem;
}

 .class .item .card-down .card-detail .detail-left{
    font-size: 1rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgba(160,166,177,var(--tw-text-opacity));
    display: inline-block;
}

 .class .item .card-down .card-detail .detail-right{
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgba(248,113,113,var(--tw-text-opacity));
}

.class .item .card-down .card-ps{
    margin-top: auto;
    margin-bottom: 0px;
    --tw-text-opacity: 1;
    color: rgba(255,19,62,var(--tw-text-opacity));
}

.class .item .card-down .card-ps span{
    padding-right: 0.25rem;
}

.class .item{
    position: relative;
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
    border-radius: 0.5rem;
    box-sizing: border-box;
}



 .class .item .card{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    overflow: hidden;
}

